<nav class="navbar navbar-expand-lg navbar-light ">
    <div class="container">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav fw-bold" >
          <a class="nav-link active coloredtext" aria-current="page" href="/">Home</a>
          <a class="nav-link coloredtext" href="/product">Shopping List</a>
          <a class="nav-link coloredtext" href="/cart">My Cart</a>
          <a class="nav-link coloredtext" href="/logout">Logout</a>
          <a class="nav-link coloredtext" href="/logoutall">Logout from all device</a>
        </div>
      </div>
    </div>
  </nav>